<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645944492546-eo4ih02srt2ecilf5l1q5t3t9npn73cr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645944492546-eo4ih02srt2ecilf5l1q5t3t9npn73cr</string>
	<key>API_KEY</key>
	<string>AIzaSyB3WEjfDhsosD2kjyOdGm0wWsC9k7xnOd0</string>
	<key>GCM_SENDER_ID</key>
	<string>645944492546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MetaChillDevelopers.ConnectionJustForToday</string>
	<key>PROJECT_ID</key>
	<string>connectionjustfortoday</string>
	<key>STORAGE_BUCKET</key>
	<string>connectionjustfortoday.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645944492546:ios:f600c4befc8a4db0cd1d1b</string>
</dict>
</plist>